<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div class="todoWrapper">
        <form action="/" method="POST">
            <div class="toDoInput">
                <input type="text" name="todo" class="addInput" value="" placeholder="Add a ToDo">
                <input type="submit" value="Add It" class="sbmtbtn">
            </div>
        </form>
        <div class="needToBeDone">
            {{#todo}}
              <p id="{{id}}" class="needToDo">{{title}}</p>
            {{/todo}}
        </div>
        <div class="finished">
            <h3>Finished ToDo's</h3>         
        {{#doneArray}}
            <p class="completed">{{completed}}</p>
        {{/doneArray}}  
        </div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="main.js"></script>
</body>

</html>