body {
  font-family: Arial, Helvetica, sans-serif;
}

.todoWrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.needToBeDone {
  width: 500px;
  height: 400px;
  overflow: scroll;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.needToDo {
  border: 1px solid black;
  color: black;
  transition: all 1s;
}

.needToDo:hover {
  cursor: pointer;
  background: lightcoral;
  color: white;
  transition: all 1s;
}

.toDoInput {
  /*width: 40%;*/
}

form {
  width: 500px;
  margin: 0 auto;
}

.addInput {
  height: 2rem;
  border: none;
  border-bottom: 1px solid gray;
  width: 100%;
  text-align: center;
}

.sbmtbtn {
  -webkit-appearance: none;
  height: 2rem;
  width: 100%;
  margin-top: 2%;
  background: none;
  border: 1px solid green;
  color: green;
  transition: color .5s;
}

.sbmtbtn:hover {
  background: green;
  color: white;
  transition: all .5s;
  cursor: pointer;
}

.addInput::-webkit-input-placeholder {
  text-align: center;
}

.fadeOut {
  opacity: 0;
  animation: fadeOut .5s ease-in 1 forwards;
}

.finished {
  margin: 0 auto;
  text-align: center;
  width: 500px;
}

.completed {
  text-decoration: line-through;
  transition: all 1s;  
}

.completed:hover{
  text-decoration: none;
  border: 1px solid black;
  cursor: pointer
}
